<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card>
      <nb-card-header>
        <div class="button-css">
          <div>Transactions Details</div>
          <div class="buttons-row">
            <nb-icon (click)="dismiss()" icon="close-outline"></nb-icon>
          </div>
        </div>
      </nb-card-header>

      <nb-tabset>
        <!-- user Details-->
        <nb-tab tabTitle="PAYMNET JOURNEY">
          <!-- <sfu-user [customerInfo]="customerDetails"> </sfu-user> -->
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
